@media screen and (max-width: 767px) and (min-width: 576px) {
 .container .content{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.left-side{
  margin-top: 25px;
}
.details-content::before{
  display: none;
}
.details-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}



@media screen and (max-width: 575px) and (min-width: 300px) {
 .container .content{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
main .container{
  width: 95%;
  padding: 15px;
}
.left-side{
  margin-top: 15px;
}
.details-content::before{
  display: none;
}
.details-content{
  display: flex;
  flex-direction: row;
}
.details{
  margin-top: 8px;
}
.details span i{
  font-size: 20px;
}
.details h3{
  font-size: 14px;
}
.details h6{
  font-size: 7px;
  margin-top: 2px;
}
.right-side h2{
  font-size: 25px;
}
.right-side p{
  font-size: 12px;
}
.right-side form{
  margin-top: 10px;
}
form div{
  width: 100%;
  height: 30px;
  margin-bottom: 6px;
}
form .for-button{
  width: 120px;
}
form div input,
form .for-message textarea{
  font-size: 12px;
}
}