*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #aadde2
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container{
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.616);
}
.container .content{
  /* background: wheat; */
  display: flex;
  justify-content: space-between;
}
.left-side{
  flex-basis: 25%;
  position: relative;
}
.details-content::before{
  content: '';
  width: 2px;
  height: 80%;
  background: #ddd;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 10%;
}
.details-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-content .details{
  width: 100%;
  text-align: center;
  /* margin-bottom: 15px; */
}
.details-content .details:last-child{
  margin-bottom: 0;
}
.details span{
  display: block;
}
.details span i{
  font-size: 28px;
  color: purple;
}
.details h3{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.877);
}
.details h6{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.514);
  margin-top: 3px;
}
.right-side{
  flex-basis: 70%;
}
.right-side h2{
  color: purple;
  font-size: 28px;
}
.right-side p{
  color: rgba(0, 0, 0, 0.781);
  font-size: 14px;
  text-align: justify;
}
.right-side form{
  width: 100%;
  height: auto;
  margin-top: 15px;
}
form div{
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}
form div:last-child{
  margin-bottom: 0;
}
form div input:focus,
form div textarea:focus{
  box-shadow: 0 0 3px 
}
form div input{
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #e9e6e6;
  font-family:Arial, Helvetica, sans-serif;
  transition: all .15s ease;
}
form .for-message{
  height: 80px;
}
form .for-message textarea{
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 6px;
  padding-top: 8px;
  outline: none;
  border: none;
  background: #e9e6e6;
  font-family:Arial, Helvetica, sans-serif;
  transition: all .15s ease;
  resize: none;
}
form .for-button{
  width: 150px;
}
form .for-button input{
  background: rgba(128, 0, 128, 0.925);
  color: white;
  padding: 0;
  cursor: pointer;
  transition: all .15s ease;
}

form .for-button input:hover{
  background: purple;
}